cachetools ==5.5.0
matplotlib ==3.10.0
mplfinance ==0.12.10b0
PyQt5      ==5.15.11
pyinstaller==6.9.0
pywin32    ==308
pyzmq      ==26.2.0
qt-material==2.14
setuptools ==75.1.0
SQLAlchemy ==1.4.46
wheel      ==0.44.0